




.make {
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 12px;
    padding-right: 12px;
    border: 2px dotted rgba(255, 235, 255, 0);   
}

.make_visible {
    border: 2px dotted rgba(235, 235, 255,1);
}

.make_active {
    border: 2px solid blue;
}

textarea {
    border: 2px solid blue;
    border-radius: 5px;
    resize: none; 
    outline: none;
    font-size: 16px;
}

.hidden_math {
    display: none;
}


.edit {
    width: 100%;
    height: 100px;
}