body {
    background: rgb(255, 247, 247);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;    
    padding: 15px;
}

.wrap {
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 8px 0px rgb(0 41 255 / 15%);
    border-radius: 7px;

}

.chunk {
    position: relative;
}

mark {
    background-color: rgb(255, 255, 205);
}

.expand {
    cursor: pointer;
}

.expand:hover .expand_box {
    display: block;
}

.expand_box {
    display: none;
    border-radius: 5px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    background-color: white;
    top: 0;
    transform: translate(-50%,-100%);
    left: 50%;
    background-color: rgb(255, 255, 205);
    box-shadow: 0 4px 8px 0 rgb(0 41 140 / 15%), 0 6px 20px 0 rgb(0 41 140 / 15%);
}



.indent {
    padding-left: 25px;
    padding-bottom: 15px;
}
.h2c {
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
}

.large {
    font-size: 24px;
}