<head>
<title>Template</title>
<link rel="stylesheet" href="stuff/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">



<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&amp;display=swap" rel="stylesheet">
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async="" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
<style type="text/css">.CtxtMenu_InfoClose {  top:.2em; right:.2em;}
.CtxtMenu_InfoContent {  overflow:auto; text-align:left; font-size:80%;  padding:.4em .6em; border:1px inset; margin:1em 0px;  max-height:20em; max-width:30em; background-color:#EEEEEE;  white-space:normal;}
.CtxtMenu_Info.CtxtMenu_MousePost {outline:none;}
.CtxtMenu_Info {  position:fixed; left:50%; width:auto; text-align:center;  border:3px outset; padding:1em 2em; background-color:#DDDDDD;  color:black;  cursor:default; font-family:message-box; font-size:120%;  font-style:normal; text-indent:0; text-transform:none;  line-height:normal; letter-spacing:normal; word-spacing:normal;  word-wrap:normal; white-space:nowrap; float:none; z-index:201;  border-radius: 15px;                     /* Opera 10.5 and IE9 */  -webkit-border-radius:15px;               /* Safari and Chrome */  -moz-border-radius:15px;                  /* Firefox */  -khtml-border-radius:15px;                /* Konqueror */  box-shadow:0px 10px 20px #808080;         /* Opera 10.5 and IE9 */  -webkit-box-shadow:0px 10px 20px #808080; /* Safari 3 & Chrome */  -moz-box-shadow:0px 10px 20px #808080;    /* Forefox 3.5 */  -khtml-box-shadow:0px 10px 20px #808080;  /* Konqueror */  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color="gray", Positive="true"); /* IE */}
</style><style type="text/css">.CtxtMenu_MenuClose {  position:absolute;  cursor:pointer;  display:inline-block;  border:2px solid #AAA;  border-radius:18px;  -webkit-border-radius: 18px;             /* Safari and Chrome */  -moz-border-radius: 18px;                /* Firefox */  -khtml-border-radius: 18px;              /* Konqueror */  font-family: "Courier New", Courier;  font-size:24px;  color:#F0F0F0}
.CtxtMenu_MenuClose span {  display:block; background-color:#AAA; border:1.5px solid;  border-radius:18px;  -webkit-border-radius: 18px;             /* Safari and Chrome */  -moz-border-radius: 18px;                /* Firefox */  -khtml-border-radius: 18px;              /* Konqueror */  line-height:0;  padding:8px 0 6px     /* may need to be browser-specific */}
.CtxtMenu_MenuClose:hover {  color:white!important;  border:2px solid #CCC!important}
.CtxtMenu_MenuClose:hover span {  background-color:#CCC!important}
.CtxtMenu_MenuClose:hover:focus {  outline:none}
</style><style type="text/css">.CtxtMenu_Menu {  position:absolute;  background-color:white;  color:black;  width:auto; padding:5px 0px;  border:1px solid #CCCCCC; margin:0; cursor:default;  font: menu; text-align:left; text-indent:0; text-transform:none;  line-height:normal; letter-spacing:normal; word-spacing:normal;  word-wrap:normal; white-space:nowrap; float:none; z-index:201;  border-radius: 5px;                     /* Opera 10.5 and IE9 */  -webkit-border-radius: 5px;             /* Safari and Chrome */  -moz-border-radius: 5px;                /* Firefox */  -khtml-border-radius: 5px;              /* Konqueror */  box-shadow:0px 10px 20px #808080;         /* Opera 10.5 and IE9 */  -webkit-box-shadow:0px 10px 20px #808080; /* Safari 3 & Chrome */  -moz-box-shadow:0px 10px 20px #808080;    /* Forefox 3.5 */  -khtml-box-shadow:0px 10px 20px #808080;  /* Konqueror */}
.CtxtMenu_MenuItem {  padding: 1px 2em;  background:transparent;}
.CtxtMenu_MenuArrow {  position:absolute; right:.5em; padding-top:.25em; color:#666666;  font-family: null; font-size: .75em}
.CtxtMenu_MenuActive .CtxtMenu_MenuArrow {color:white}
.CtxtMenu_MenuArrow.CtxtMenu_RTL {left:.5em; right:auto}
.CtxtMenu_MenuCheck {  position:absolute; left:.7em;  font-family: null}
.CtxtMenu_MenuCheck.CtxtMenu_RTL { right:.7em; left:auto }
.CtxtMenu_MenuRadioCheck {  position:absolute; left: .7em;}
.CtxtMenu_MenuRadioCheck.CtxtMenu_RTL {  right: .7em; left:auto}
.CtxtMenu_MenuInputBox {  padding-left: 1em; right:.5em; color:#666666;  font-family: null;}
.CtxtMenu_MenuInputBox.CtxtMenu_RTL {  left: .1em;}
.CtxtMenu_MenuComboBox {  left:.1em; padding-bottom:.5em;}
.CtxtMenu_MenuSlider {  left: .1em;}
.CtxtMenu_SliderValue {  position:absolute; right:.1em; padding-top:.25em; color:#333333;  font-size: .75em}
.CtxtMenu_SliderBar {  outline: none; background: #d3d3d3}
.CtxtMenu_MenuLabel {  padding: 1px 2em 3px 1.33em;  font-style:italic}
.CtxtMenu_MenuRule {  border-top: 1px solid #DDDDDD;  margin: 4px 3px;}
.CtxtMenu_MenuDisabled {  color:GrayText}
.CtxtMenu_MenuActive {  background-color: #606872;  color: white;}
.CtxtMenu_MenuDisabled:focus {  background-color: #E8E8E8}
.CtxtMenu_MenuLabel:focus {  background-color: #E8E8E8}
.CtxtMenu_ContextMenu:focus {  outline:none}
.CtxtMenu_ContextMenu .CtxtMenu_MenuItem:focus {  outline:none}
.CtxtMenu_SelectionMenu {  position:relative; float:left;  border-bottom: none; -webkit-box-shadow:none; -webkit-border-radius:0px; }
.CtxtMenu_SelectionItem {  padding-right: 1em;}
.CtxtMenu_Selection {  right: 40%; width:50%; }
.CtxtMenu_SelectionBox {  padding: 0em; max-height:20em; max-width: none;  background-color:#FFFFFF;}
.CtxtMenu_SelectionDivider {  clear: both; border-top: 2px solid #000000;}
.CtxtMenu_Menu .CtxtMenu_MenuClose {  top:-10px; left:-10px}
</style><style id="MJX-CHTML-styles">
mjx-container[jax="CHTML"] {
  line-height: 0;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > * {
  display: table-cell;
}

mjx-mtext {
  display: inline-block;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}

mjx-c::before {
  display: block;
  width: 0;
}

.MJX-TEX {
  font-family: MJXZERO, MJXTEX;
}

.TEX-B {
  font-family: MJXZERO, MJXTEX-B;
}

.TEX-I {
  font-family: MJXZERO, MJXTEX-I;
}

.TEX-MI {
  font-family: MJXZERO, MJXTEX-MI;
}

.TEX-BI {
  font-family: MJXZERO, MJXTEX-BI;
}

.TEX-S1 {
  font-family: MJXZERO, MJXTEX-S1;
}

.TEX-S2 {
  font-family: MJXZERO, MJXTEX-S2;
}

.TEX-S3 {
  font-family: MJXZERO, MJXTEX-S3;
}

.TEX-S4 {
  font-family: MJXZERO, MJXTEX-S4;
}

.TEX-A {
  font-family: MJXZERO, MJXTEX-A;
}

.TEX-C {
  font-family: MJXZERO, MJXTEX-C;
}

.TEX-CB {
  font-family: MJXZERO, MJXTEX-CB;
}

.TEX-FR {
  font-family: MJXZERO, MJXTEX-FR;
}

.TEX-FRB {
  font-family: MJXZERO, MJXTEX-FRB;
}

.TEX-SS {
  font-family: MJXZERO, MJXTEX-SS;
}

.TEX-SSB {
  font-family: MJXZERO, MJXTEX-SSB;
}

.TEX-SSI {
  font-family: MJXZERO, MJXTEX-SSI;
}

.TEX-SC {
  font-family: MJXZERO, MJXTEX-SC;
}

.TEX-T {
  font-family: MJXZERO, MJXTEX-T;
}

.TEX-V {
  font-family: MJXZERO, MJXTEX-V;
}

.TEX-VB {
  font-family: MJXZERO, MJXTEX-VB;
}

mjx-stretchy-v mjx-c, mjx-stretchy-h mjx-c {
  font-family: MJXZERO, MJXTEX-S1, MJXTEX-S4, MJXTEX, MJXTEX-A ! important;
}

@font-face /* 0 */ {
  font-family: MJXZERO;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Zero.woff") format("woff");
}

@font-face /* 1 */ {
  font-family: MJXTEX;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff") format("woff");
}

@font-face /* 2 */ {
  font-family: MJXTEX-B;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff") format("woff");
}

@font-face /* 3 */ {
  font-family: MJXTEX-I;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff") format("woff");
}

@font-face /* 4 */ {
  font-family: MJXTEX-MI;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff") format("woff");
}

@font-face /* 5 */ {
  font-family: MJXTEX-BI;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff") format("woff");
}

@font-face /* 6 */ {
  font-family: MJXTEX-S1;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff") format("woff");
}

@font-face /* 7 */ {
  font-family: MJXTEX-S2;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff") format("woff");
}

@font-face /* 8 */ {
  font-family: MJXTEX-S3;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff") format("woff");
}

@font-face /* 9 */ {
  font-family: MJXTEX-S4;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff") format("woff");
}

@font-face /* 10 */ {
  font-family: MJXTEX-A;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff") format("woff");
}

@font-face /* 11 */ {
  font-family: MJXTEX-C;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff") format("woff");
}

@font-face /* 12 */ {
  font-family: MJXTEX-CB;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff") format("woff");
}

@font-face /* 13 */ {
  font-family: MJXTEX-FR;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff") format("woff");
}

@font-face /* 14 */ {
  font-family: MJXTEX-FRB;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff") format("woff");
}

@font-face /* 15 */ {
  font-family: MJXTEX-SS;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff") format("woff");
}

@font-face /* 16 */ {
  font-family: MJXTEX-SSB;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff") format("woff");
}

@font-face /* 17 */ {
  font-family: MJXTEX-SSI;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff") format("woff");
}

@font-face /* 18 */ {
  font-family: MJXTEX-SC;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff") format("woff");
}

@font-face /* 19 */ {
  font-family: MJXTEX-T;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff") format("woff");
}

@font-face /* 20 */ {
  font-family: MJXTEX-V;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff") format("woff");
}

@font-face /* 21 */ {
  font-family: MJXTEX-VB;
  src: url("https://cdn.jsdelivr.net/npm/mathjax@3/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff") format("woff");
}
</style></head>

<body onload="run();runMake()">
    <div class="wrap">
          <div class="make make_active">
            <h1 id="title">Template</h1>
          </div>
          <div class="make"><div class="make"><h2>Commands:</h2><ul><div class="make"><div class="make"><li>shift + h = go to edit mode</li></div><div class="make"><li>shift + s = save current file</li></div> <div class="make"><li>shift + d = delete active box</li></div> <div class="make"><li>shift + enter = compile active box</li></div></div></ul></div> <div class="make"><h2>Shortcuts</h2><ul><div class="make"><div class="make"><li> B O X = creates new box (without spaces)</li></div> <div class="make"><li>L E T</li></div> <div class="make"><li>T H E N</li></div></div></ul></div> <div class="make">... and many more</div></div>
    </div>

    <style>
        .make_visible {
            border-radius: 5px;
            padding: 15px;
            border: 2px dotted rgb(235, 235, 255);
        }
        
        .make_active {
            border: 2px solid blue;
        }
        
        textarea {
            border: 2px solid blue;
            border-radius: 5px;
            resize: none; 
            outline: none;
            font-size: 16px;
        }
        
        .hidden_math {
            display: none;
        }
        
        
        .edit {
            width: 100%;
            height: 100px;
        }
        
        </style>


<script type="text/javascript">

    function runMake() {
        document.onkeydown = toggleMode;
        renderClean();
    }
    
    function renderClean() {
        removeMath(document);
        elements = document.getElementsByClassName("hidden_math");
        for (var i = 0; i < elements.length; i++) {
            fix = "$".repeat(elements[i].dataset.times)
            span = document.createTextNode(fix + elements[i].dataset.math + fix);
            elements[i].parentNode.insertBefore(span,elements[i]);
        }
        MathJax.typeset();
    }
    
    function activateMakeBoxes() {
        var elements = document.getElementsByClassName('make')
        for (var i = 0; i< elements.length; i++) {
            make = elements[i]
            elements[i].classList.add("make_visible");
            make.onclick = makeClick;
            make.onmouseover = makeHover;
            make.onmouseout = makeUnhover
        }
    }
    
    function makeHover(e) {
        if (e.target.classList.contains('make')) {
            e.target.classList.add("make_active");
        }
    
    }
    
    function makeUnhover(e) {
        if (e.target.classList.contains('make')) {
            e.target.classList.remove("make_active");
        }
    }
    
    function deactivateMakeBoxes() {
        var elements = document.getElementsByClassName('make')
        for (var i = 0; i< elements.length; i++) {
            make = elements[i]
            make.onclick = function(){};
            make.onmouseover = function(){};
            make.onmouseout = function(){};
        }
    }
    
    function makeClick(e) {
        if (e.target.classList.contains('make')) {
            var edit = makeEdit(e.target);
            e.target.innerHTML = "";
            e.target.replaceWith(edit);   
            deactivateMakeBoxes();  
        }
    }
    
    function makeEdit(make) {
        var edit = document.createElement("textarea");
        edit.classList.add('edit');
        make = removeMath(make);
        make = reappearMath(make);
        edit.innerHTML = make.innerHTML;
        edit.onkeydown = exitEdit;
        return edit;
    }
    
    function reappearMath(make) {
        elements = make.getElementsByClassName("hidden_math");
        for (var i = 0; i< elements.length; i++) {
            fix = "$".repeat(elements[i].dataset.times);
            elements[i].outerHTML = fix + elements[i].dataset.math + fix; 
        }
        return make;
    }
    
    function removeMath(make) {
        elements = make.getElementsByClassName("MathJax");
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }
        return make;
    }
    
    function exitEdit(e) {
        var evtobj = window.event? event : e
        if (evtobj.keyCode == 13 && evtobj.shiftKey) {
            reBox(this);
            MathJax.typeset();
            run();
            activateMakeBoxes();
        }
        if (evtobj.keyCode == 68 && evtobj.shiftKey) {
            this.parentNode.removeChild(this);
            activateMakeBoxes();
        }
    }
    
    function reBox(el) {
        var make = document.createElement("div");
        make.classList.add("make");
    
        make.innerHTML = processHTML(el.value);
        el.replaceWith(make);
    
    }
    
    var specialCommands = [
        ["BOX","<div class='make make_visible'></div>"],
        ["OL","<ol><div class='make make_visible'>LI LI LI</div></ol>"],
        ["UL","<ul><div class='make make_visible'>LI LI LI</div></ul>"],
        ["LI", "<div class='make make_visible'><li></li></div>"],
        ["LET", "<div class='let'></div>"],  
        ["THEN", "<div class='then'></div>"],
        ["PROOF", "<div class='proof'></div>"],     
        ["CHUNK", "<div class='chunk'>BOX</div>"],      
    ]
    
    function applySpecialCommands(string) {
        for (var i = 0; i< specialCommands.length; i++) {
            command = specialCommands[i][0];
            replac = specialCommands[i][1];
            string = string.replaceAll(command,replac)
        }
        return string;
    
    };
    
    
    function processHTML(string) {
        string = applySpecialCommands(string);
        string = encodeMaths(string);
        return string;
    }
    
    function encodeMaths(string) {
        string = string.trim();
        string = string.replace(/(\r\n|\n|\r)/gm, "");
        double_eq_pattern = /\$\$(.*?)\$\$/g
        single_eq_pattern = /\$(.*?)\$/g
    
        double_eq = string.split(double_eq_pattern);
        for (var i = 0; i < double_eq.length; i++) {
            if (i % 2 == 0) {
                single_eq = double_eq[i].split(single_eq_pattern);   
                for (var k = 0; k < single_eq.length; k++) {
                    local_string = single_eq[k];
                    single_eq[k] = k % 2 == 0 ? single_eq[k] : makeReplacement(single_eq[k],1)
                }
                double_eq[i] = single_eq.join("");
            } else {
                double_eq[i] = makeReplacement(double_eq[i],2)
            }
        }
        return double_eq.join("");
    }
    
    function makeReplacement(string,k) {
        fix = "$".repeat(k)
        hidden_el = document.createElement("div");
        hidden_el.classList.add("hidden_math");
        hidden_el.dataset.math = string;
        hidden_el.dataset.times = k;   
        string = fix + string + fix + hidden_el.outerHTML;
        return string;
    }
    
    make_visibility = false;
    
    function toggleMode() {
        var evtobj = window.event? event : e
        if (evtobj.keyCode == 72 && evtobj.shiftKey) {
            make_visibility = make_visibility ? false : true;
            if (make_visibility) {
                activateMakeBoxes();
            } else {
                deactivateMakeBoxes();
                hideMakeBoxes();
            }
        }
        if (evtobj.keyCode == 83 && evtobj.shiftKey) {
            save();
        }
    }
    
    function hideMakeBoxes() {
        var elements = document.getElementsByClassName('make')
        for (var i = 0; i< elements.length; i++) {
            make = elements[i]
            make.classList.remove("make_visible")
        }
    }
    
    
    function save() {

        if(make_visibility) {
            deactivateMakeBoxes();
            hideMakeBoxes();
        }

        var htmlContent = [document.documentElement.innerHTML];
        var bl = new Blob(htmlContent, {type: "text/html"});
        var a = document.createElement("a");
        a.href = URL.createObjectURL(bl);
        a.download = document.getElementById("title").innerHTML+".html";
        document.title = document.getElementById("title").innerHTML;
        a.hidden = true;
        document.body.appendChild(a);
        a.innerHTML = "something random - nobody will see this, it doesn't matter what you put here";
        a.click();
      }
    
    </script>
    <script type="text/javascript">
    
    async function run() {
    
    var let = document.getElementsByClassName('let')
    var then = document.getElementsByClassName('then')
    var proof = document.getElementsByClassName('proof')
    build_block(let,"let","Let:");
    build_block(proof,"proof","Proof:");
    build_block(then,"then","Then:");
    
    var expand = document.getElementsByClassName('expand')
    build_expand(expand);
    
    includeHTML();
    
    }
    
    function build_expand(elements) {
    for (var i = 0; i< elements.length; i++) {
    var expand = elements[i];
    var preview = document.getElementById("expand_"+expand.id);
    var content = document.createElement("span")
    expand.appendChild(preview);
    MathJax.typeset();
    }
    }
    
    function build_block(elements,name,desc) {
    for (var i = 0; i < elements.length; i++) {
        var content = "<div class='h2c'>"+desc+"</div>";
        content = content + "<div class='indent'><div class='make'>";
        content = content + elements[i].innerHTML;
        content = content + "</div></div>";
        elements[i].innerHTML = content;
    }
    while (elements.length > 0) {
      elements[0].classList.remove(name);
    }
    }
    
    function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /* Loop through a collection of all HTML elements: */
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("w3-include-html");
      if (file) {
        /* Make an HTTP request using the attribute value as the file name: */
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            if (this.status == 200) {elmnt.innerHTML = this.responseText;}
            if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
            /* Remove the attribute, and call this function once more: */
            elmnt.removeAttribute("w3-include-html");
            includeHTML();
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
        /* Exit the function: */
        return;
      }
    }
    }
    
    
    
    
    </script>

    <style>
        body {
    background-color: rgb(255, 249, 240);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;    
    padding: 15px;
}

.wrap {
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 50px;

}

.chunk {
    position: relative;
}

mark {
    background-color: rgb(255, 255, 205);
}

.expand {
    cursor: pointer;
}

.expand:hover .expand_box {
    display: block;
}

.expand_box {
    display: none;
    border-radius: 5px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    background-color: white;
    top: 0;
    transform: translate(-50%,-100%);
    left: 50%;
    background-color: rgb(255, 255, 205);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.indent {
    padding-left: 25px;
    padding-bottom: 15px;
}
.h2c {
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
}

.large {
    font-size: 24px;
}
    </style>


<a href="blob:null/3e4244d1-5a79-4db9-b07a-0230e6ad1647" download="Template.html" hidden="">something random - nobody will see this, it doesn't matter what you put here</a><a href="blob:null/4cac097a-5e89-4cb6-8112-8b56a65ae3ec" download="Template.html" hidden="">something random - nobody will see this, it doesn't matter what you put here</a><a href="blob:null/a9f9bb6c-697c-4725-9124-a3f433954277" download="Template.html" hidden="">something random - nobody will see this, it doesn't matter what you put here</a></body>